@import "variables";
@import "reset";

body {
    background: #eee;
}

.container {
    min-width: 540px;
}

.content {
    display: flex;
    justify-content: space-between;

    &__categories {
        width: 100%;
        max-width: 160px;
        margin-right: 20px;
    }

    &__bookmarks {
        flex: 1 0;
    }
}

.categories {
    list-style: none;
    margin-top: 84px;
    padding: 0;

    &__item {
        position: relative;
    }

    &__btn {
        position: absolute;
        right: 5px;
        top: 11px;
    }

    &__link {
        display: block;
        padding: 10px 15px;
        color: #000;
        text-decoration: none;

        &.active {
            background: $c-blue;
            color: #fff;
        }
    }
}
// Delete

.delete-category {
    &__title {
        font-size: 18px;
        font-weight: bold;
    }
}

.bookmark-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px;
    background: $c-blue;
}

.search-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex: 1 0;

    &__icon-search {
        color: #fff;
        margin: 0 10px;
    }

    &__input {
        &:focus + label {
            opacity: 0;
        }

        &.ng-not-empty + label {
            opacity: 0;
        }
    }

    &__label {
        position: absolute;
        left: 47px;
        opacity: 0.6;
        font-weight: normal;
        transition: all 0.2s;
    }
}

.button-create,
.button-delete {
    color: #fff;
    padding: 0 10px;
    opacity: 1;

    &:hover {
        opacity: 0.8;
    }
}

.bookmarks {
    box-shadow: 2px 3px 5px #dadada;
    margin-bottom: 20px;

    &__item {
        display: flex;
        align-items: center;
        padding: 10px;
        background: #fff;
        box-sizing: border-box;
        border-bottom: 1px solid #f1f1f1;
        transition: all 0.1s linear;

        &:hover {
            border-bottom-width: 3px;

            .bookmarks__link {
                color: $c-blue;
            }
        }
    }

    &__link {
        flex: 1 0;
        color: #000;
        text-decoration: none;
    }

    &__btn {
        padding: 0 10px;
        display: flex;

        &:hover {
            color: $c-blue;
        }
    }
}

.button-confirm {
    background-color: $c-light-blue;
    border-color: $c-light-blue;
    color: #fff !important;
    opacity: 1;
    outline: none !important;

    &:hover {
        opacity: 0.8;
    }
}

.state {
    position: fixed;
    z-index: 10001;
    bottom: 10px;
    left: 10px;
    font-size: 14px;
    background: #8585a8;
    padding: 10px;
    opacity: 0.9;
    max-width: 200px;
    color: #fff;
    transition: all 0.3s ease-out;

    &:hover {
        left: 15px;
    }
}

[ng-cloak] {
    display: none;
}