<div class="bookmark-head">
    <div class="search-block">
        <i class="glyphicon glyphicon-search search-block__icon-search"></i>
        <input type="text" id="search" class="form-control search-block__input" ng-model="search" ng-change="$ctrl.changeInputText(search)">
        <label for="search" class="search-block__label">Search bookmarks</label>
    </div>
    <button ng-if="!$ctrl.currentCategoryName" ui-sref="app.bookmarks.multicreate" type="button" class="button-create" title="Create bookmark">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <button ng-if="$ctrl.currentCategoryName" ui-sref="app.bookmark.create" type="button" class="button-create" title="Create bookmark">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</div>

<div class="bookmarks">
    <div class="bookmarks__item" ng-repeat="bookmark in $ctrl.bookmarks | filter: {category: $ctrl.currentCategoryName, title: search}">
        <a class="bookmarks__link" href="{{ bookmark.url }}" target="_blank">
            {{ bookmark.title }}
        </a>
        <div class="btn-group">
            <button type="button" class="bookmarks__btn" data-toggle="dropdown">
                <i class="glyphicon glyphicon-option-vertical"></i>
            </button>
            <ul class="dropdown-menu pull-right dropdown-bookmarks">
                <li class="dropdown-bookmarks__item">
                    <button
                    ui-sref="app.bookmark.edit({category: ($ctrl.currentCategoryName) ? $ctrl.currentCategoryName : '', bookmarkId: bookmark.id})"
                    type="button" class="bookmarks__btn">
                        <span>Edit</span>
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                </li>
                <li class="dropdown-bookmarks__item">
                    <button type="button" class="bookmarks__btn" ng-click="$ctrl.deleteBookmark(bookmark)">
                        <span>Delete</span>
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div ui-view="bookmark-create" on-change="main.text = $event.text"></div>
<div ui-view="bookmark-edit"></div>
