<h3>Edit Bookmark</h3>
<form class="edit-form" ng-submit="ngDialogData.editBookmark()">
    <div class="form-group">
        <label>Bookmark Title</label>
        <input type="text" class="form-control" ng-model="ngDialogData.bookmark.title" placeholder="Enter title">
    </div>

    <div class="form-group">
        <label>Bookmark URL</label>
        <input type="text" class="form-control" ng-model="ngDialogData.bookmark.url" placeholder="Enter URL">
    </div>
    <button type="submit" class="btn btn-lg button-confirm">Save</button>
    <button type="button" class="btn btn-default btn-lg pull-right" ng-click="ngDialogData.cancel()">Cancel</button>
</form>
