<h1>Bookmarks</h1>
<h3>{{ $ctrl.currentCategoryName }}</h3>
<div ng-repeat="bookmark in $ctrl.bookmarks | filter: {category: $ctrl.currentCategoryName}">
    <button type="button" class="close" ng-click="$ctrl.deleteBookmark(bookmark)">&times;</button>
    <button ui-sref="app.home.edit({bookmarkId: bookmark.id})" type="button" class="btn btn-link">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <a href="{{ bookmark.url }}" target="_blank">
        {{ bookmark.title }}
    </a>
</div>
<hr>

<div ui-view="bookmark-create" ng-if="$ctrl.currentCategoryName">
    <button ui-sref="app.categories.create" type="button" class="btn btn-link">
        <span class="glyphicon glyphicon-plus"></span>
        Create Bookmark
    </button>
</div>

<div ui-view="bookmark-edit"></div>
